@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar content";
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.3fr 1fr;
  height: 100vh;
}
.container > div {
  padding: 10px;
}
.container > div.header {
  grid-area: header;
  text-align: center;
  background-color: white;
}
.container > div.sidebar {
  grid-area: sidebar;
  background-color: #1992d4;
}
.container > div.content {
  grid-area: content;
  background-color: #E2E8F0;
}
.sidebar-title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 25px;
  gap: 5px;
  font-weight: bold;
}
.item{
  display: flex;
  align-items: center;
  gap: 15px;
}
.sidebar-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  color: white;
  font-weight: bold;
  margin-top: 40px;
}
.spacer {
  margin-top: 30px;
}
.header-row {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 40px;
}
.header-item {
  flex: 60%;
}
.header-item2 {
  flex: 40%;
}
.box-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.box-item2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.input-header {
  background-color: #E2E8F0;
  border: none;
  border-radius: 20px;
  padding: 5px;
  width: 80%;
}
.header2-row {
  display: flex;
  flex-direction: row;
}
.header2-item {
  flex: 60%;
}
.header2-item2 {
  flex: 40%;
}
.header2-item-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding-left: 30px;
}
.mini-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.text-3 {
  font-size: small;
}
.header2-item2 {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
.button-box {
  padding: 10px;
  width: 80px;
  border: none;
  border-radius: 20px;
  background-color: #1992d4;
  color: white;
}